header {
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: #CCF;
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav a {
  display: inline-flex;
  justify-content: center;
  min-width: 5em;
  color: currentColor;
}

nav a:hover {
  text-decoration: none;
  background-color: rgba(107, 7, 201, 0.1);
  transition: background 0.1s ease-in-out;
}

nav a + a {
  border-left: 1px solid black;
}

nav {
  display: none;
}

@media (min-width: 48rem) {
  nav {
    display: flex;
  }
}
