.popup-target {
  border-bottom: 1px dashed gray;
}
.popup {
  position: absolute;
  right: 0;
  transform: translateY(-100%);
  padding: 0.1em 0.5em;
  min-width: 18em;
  opacity: 0;
  background-color: #EEF;
  border: 1px dashed #AAD;
  transition: 0.1s opacity ease-in-out;
  transition-delay: 0s;
}
.popup-target:hover > .popup,
.popup-target:active > .popup {
  opacity: 1;
  transition-delay: 0.3s;
}
