* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: auto;
  max-width: 800px;
  padding: 1em;
  line-height: 1.4;
}

h1 {
  margin-bottom: 0.5em;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

p {
  margin-bottom: 0.5em;
}

.italic {
  font-style: italic;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
